body{
	background-color: #343a40;
}
label{
    margin-top:10px;
}
.container-fluid{
	background-color: #fff;
	min-height: 400px;
}
.btn-default{
    /* BS4 changed the appearance of btn-default on anchor tags.
      I liked the old way better... so that's
      what I am making happen here.  */
    background-color: #CCC;
    color: black;
}
.btn {
    /*make text wrap nicely in buttons */
    white-space:normal;
}

.locked {
    display: none !important; /*locked content must not be shown to user*/
}

.unlocked {
    border-width: initial; /*set border-width to whatever the default is. */
}

.secured {
    border-width: initial; /*set border-width to whatever the default is. */
}
div.polaroid {
    width: 60%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  div.polaroidList {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  } 
  
div.container {
    text-align: center;
    padding: 10px 20px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {background-color:#f5f5f5;}